.accordionItem {
	background-color: var(--accordion-color);

	&[data-active="true"] {
		background-color: var(--accordion-color-hover) !important;
	}
}
.accordionControl {
	&:hover {
		background-color: var(--accordion-color-hover) !important;
	}
}
